/*这个$siderbarWidth改了值的话还要在base.scss改下.app-main的left*/
$siderbarWidth: 200px;
$subMenuBg: #FFF;

#app {
  background-color: #f8f8f8;
  /*主体区域*/
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $siderbarWidth;
  }
  /*侧边栏*/
  .sidebar-container {
    transition: width 0.28s;
    width: $siderbarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0;
    /*top: 0;*/
    top: 80px;
    box-shadow: 2px 2px 6px rgba(56, 56, 56, .4);
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    /*reset element-ui css*/
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      height: calc(100% + 15px);

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }

    .main-container {
      margin-left: 36px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding-left: 10px !important;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .sidebar-container .el-submenu .el-menu-item,
  .sidebar-container .nest-menu .el-submenu > .el-submenu__title {
    min-width: $siderbarWidth !important;
    /*background-color: $subMenuBg !important;*/
    padding-left: 10px !important;
    &:hover {
      /*background-color: rgb(50, 108, 196) !important;*/
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $siderbarWidth !important;
  }
  /*适配移动端*/
  .mobile {
    .main-container {
      margin-left: 0;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $siderbarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-$siderbarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
  .el-menu-item {
    /*opacity: 0.5;*/
  }
  .el-submenu__title {
    /*opacity: .5;*/
    &:hover {
      /*background-color: #FF76AA !important;*/
      .el-menu-item {
        /*background-color: #FF76AA !important;*/
      }
    }
  }
}

.icon-box {
  display: inline-block;
  width: 26px;
  .iconfont {
    vertical-align: bottom;
  }
}
