@mixin header {
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  /*background-color: #FFF;*/
  border-radius: 5px;
  .text {
    margin: 0;
    width: 266px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    color: $mainFontColorDark;
    &.active {
      background-color: $main;
      color: #FFF;
    }
  }
}
